@{
	ViewData["Title"] = "Access Denied";
}

<div class="page-404">
	<div class="page-404__wrap">
		<div class="page-404__content">
			<h1 class="page-404__title">403</h1>
			<p class="page-404__text">Access Denied</p>
			<a asp-controller="Home" asp-action ="index" class="page-404__btn"><span>go back</span></a>
		</div>
	</div>
</div>