@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
        <!-- breadcrumb -->
        <div class="col-12">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a asp-controller="Home" asp-action="index">Home</a></li>
                <li class="breadcrumbs__item breadcrumbs__item--active">Privacy policy</li>
            </ul>
        </div>
        <!-- end breadcrumb -->
        <!-- title -->
        <div class="col-12">
            <div class="main__title main__title--page">
                <h1>Privacy policy</h1>
                <p>
                    This privacy policy is intended to assist you in understanding what information we gather when
                    you visit this Website, make car reservations and sign agreements, whether you are registered
                    user or not, and to describe how we use that information. <br>
                    These documents provide you with important information about the following:
                </p>
                <ol>
                    <li>
                        <h4>Processing of personal data</h4>
                        <p style="margin-top: 7px">
                            When we use "Personal Data" in this Privacy Policy we refer to any information enabling us
                            to identify you (or a third party whose personal data you provide us) directly or
                            indirectly including any information incidental to the purchase of goods or services; or
                            that you chose to communicate to us or share with us, or third parties, while using the
                            Website or at Points of Sales. We will process the personal data in accordance with the
                            General Data Protection Regulation (EU) 2016/679 “Reg.(EU) 2016/679” and with the
                            legislation of the country where data should be collected, if applicable. We reserve the
                            right to carry out additional processing as required by law or as part of a criminal or
                            other investigation or proceedings. Company will not sell, purchase, provide, exchange or
                            in any other manner disclose Account or Transaction data, or personal information of or
                            about a Cardholder to anyone, except, it's Acquirer, Visa/Mastercard Corporations or in
                            response to valid government demands.
                        </p>
                    </li>

                    <li>
                        <h4>Personal data we collect</h4>
                        <ol>
                            <li>
                                <span> Source of data:</span>
                                <p style="margin-top: 7px">
                                    We collect personal data from you only when you voluntarily provide us with this
                                    information, such as: When you choose to apply for a car reservation and conclude car
                                    rent agreement, you provide information verbally and in writing. This information
                                    could constitute personal data and sensitive personal data under Personal Data
                                    Protection Law and the General Data Protection Regulation. The car rental agreement
                                    will regulate conditions regarding the rental car, Your rights and duties, as well as
                                    use of personal data in accordance with the agreement. The personal data that we may
                                    collect from you is name, surname, address, date of birth, identity code, number your
                                    ID document, the issuing authority and date of issue, driving license number, issue
                                    date un driver’s category, address at which the car will be kept (where appropriate),
                                    type of credit card (visa/mastercard/amex), credit card number, expiry date, telephone
                                    number and email address for mutual communication. Also, it should be indicated to the
                                    Company within which geographical area the rented car will be used. Upon entering into
                                    the car rental agreement you are being informed, you understand and agree that each
                                    Company car may be equipped with a tracking device in order to determine the location
                                    of the car in the case of theft and/or other damage to the car. Installation of the
                                    tracking device is prevention of criminal offence. The legal ground for the Company’s
                                    processing of Your personal data and entering into the car rental agreement, is your
                                    consent according to your application and will to enter into the agreement. You are
                                    providing Your personal data by free will and You can at any time withdraw your
                                    consent by contacting the Company as per below. If you provide us with personal
                                    information of third parties (e.g., your family members, other customer or prospects
                                    of us), you should make sure that said third parties are informed and authorized the
                                    use of their data as described in this Privacy Policy.
                                </p>
                            </li>
                            <li>
                                <span> Types of data:</span>
                                <p style="margin-top: 7px">
                                    We may collect and use different types of personal data depending on the specific
                                    purpose we have, as described below:
                                </p>
                                <ol>
                                    <li>
                                        personal details, such as name, surname, gender, age/date of birth, country of
                                        origin, and other personal details as allowed by applicable laws;
                                    </li>
                                    <li>
                                        contact details, such as address, email address, phone number, mobile number, fax
                                        number (if any), and other contact details as allowed by applicable laws;
                                    </li>
                                    <li>
                                        payment details, such as payment instrument (credit card, debit card) if applicable,
                                        passport number when required for tax or anti money laundering reasons;
                                    </li>
                                    <li>
                                        sales related information, such as date, products or services provided, place of
                                        purchase, product codes, amount, total of sales, VAT number, complaints, returns,
                                        refunds and other sales related information as allowed by applicable laws;
                                    </li>
                                    <li>
                                        family related information, such as marital status, anniversary date, number of
                                        children, children related information and other family related information as
                                        allowed by applicable laws.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <h4>How we use personal data</h4>
                        <p style="margin-top: 7px">
                            Personal data may be used for the following purposes, depending on the specific
                            circumstances in which you interact with us. All information provided by you to the
                            Company will be stored by the Company on its servers, but where the information is stored
                            physically, it will be stored in the Company’s data carriers, files. The Company will have
                            only a limited number of persons with access to your data, including members of the Board
                            of Directors and accountants. Information collected by the Company from you may be shared
                            and stored outside the European Economic Area (EEA). By providing your personal data you
                            also consent to transferring, storage and processing of your personal data (including
                            sensitive personal data) according to this Confirmation. The Company will use the
                            information received from you to contact you.
                        </p>
                    </li>

                    <li>
                        <h4>How we share personal data</h4>
                        <p style="margin-top: 7px">
                            Personal data may be used for the following purposes, depending on the specific
                            circumstances in which you interact with us. All information provided by you to the
                            Company will be stored by the Company on its servers, but where the information is stored
                            physically, it will be stored in the Company’s data carriers, files. The Company will have
                            only a limited number of persons with access to your data, including members of the Board
                            of Directors and accountants. Information collected by the Company from you may be shared
                            and stored outside the European Economic Area (EEA). By providing your personal data you
                            also consent to transferring, storage and processing of your personal data (including
                            sensitive personal data) according to this Confirmation. The Company will use the
                            information received from you to contact you.
                        </p>
                    </li>

                    <li>
                        <h4>For how long personal data will be retained</h4>
                        <p style="margin-top: 7px">
                            he Company will retain Your personal data for the duration of the car rental agreement, as
                            well as 24 months after end of it, in order of necessity (e.g. court process,
                            communication with law enforcement agencies, etc.) could use the contractual data.
                        </p>
                    </li>

                    <li>
                        <h4>Access, correction and deletioon of personal data.</h4>
                        <p style="margin-top: 7px">
                            You have the right to access, correct and delete Your personal data in line with the
                            General Data Protection Regulation. Furthermore, You have the right to demand data
                            portability, to demand that the processing is limited and to refuse certain aspects of the
                            processing of Your personal data. You also have the right to lodge a complaint with the
                            Latvian Data Protection Inspection.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
        <!-- end title -->
    </div>
</div>