@model ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="home">
    <div class="home__bg"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home__content">
                    <div class="sign__content">
                        <form asp-controller="Auth" class="sign__form" asp-action="ForgotPassword">
                            <div class="header__content" style="display: flex; justify-content: center;">
                                <div class="header__logo">
                                    <a asp-controller="Home" asp-action="index">
                                        <img src="~/img/logo-black.svg" alt="">
                                        <p style="text-align: center;"> Autoviva</p>
                                    </a>
                                </div>
                            </div>
                            @if (Model.IsSent)
                            {
                                <span class="text-success" style="margin-left: 7px;margin-top:3px;margin-bottom:10px;">Reset link has been sent to @Model.Email</span>
                            }
                            <div class="sign__group">
                                <input type="text" class="sign__input" id="email" name="email" value="@Model.Email" placeholder="Email Address"/>
                                <span class="text-danger" style="margin-left: 7px;margin-top:0px;" asp-validation-for="@Model.Email"></span>

                            </div>
                            @Html.ValidationMessage("CustomError", new { @class = "text-danger"})
                          
                            <button type="submit" value="submit" class="sign__btn"><span>Reset Password.</span></button>

                            <span class="sign__text">We will send a password to your Email</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
