@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "Reset Password";
}

@{
    string formText = Model.IsReset ? "return false;" : "";
}
<div class="home">
    <div class="home__bg"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home__content">
                    <div class="sign__content">
                        <form asp-controller="Auth" class="sign__form" onSubmit="@formText" asp-action="ResetPassword">
                            <div class="header__content" style="display: flex; justify-content: center;">
                                <div class="header__logo">
                                    <a asp-controller="Home" asp-action="index">
                                        <img src="~/img/logo-black.svg" alt="">
                                        <p style="text-align: center;"> Autoviva</p>
                                    </a>
                                </div>
                            </div>
                          

                            @if (Model.IsReset)
                            {

                                <span class="text-success" style="margin-left: 7px;margin-top:3px;">Password has been reset successfully. </span>
                                <a class="sign__btn"  asp-action="login">
                                    Continue to Login..
                                </a>
                            
                            }else
                            {
                            <div class="sign__group">
                                <input type="hidden" id="Uid" name="Uid" value="@Model.Uid" />
                                    <input type="hidden" id="Code" name="Code" value="@Model.Code" />

                                <span class="text-danger" style="margin-left: 7px;margin-top:3px;" asp-validation-for="Uid"></span>

                            </div>

                            <div class="sign__group">
                                <input type="password" name="password" class="sign__input" style="color: gray;"  placeholder="Password">
                                <span class="text-danger" style="margin-left: 7px;margin-top:3px;" asp-validation-for="Password"></span>

                            </div>
                            <div class="sign__group">
                                <input type="password" name="confirmpassword" class="sign__input" style="color: gray;"  placeholder="Confirm Password">
                                <span class="text-danger" style="margin-left: 7px;margin-top:3px;" asp-validation-for="ConfirmPassword"></span>

                            </div>
                            <span class="text-danger" style="margin-left: 7px;margin-top:3px;" asp-validation-for="Code"></span>

                            @Html.ValidationMessage("CustomError", new { @class = "text-danger"})
                            <button type="submit" value="submit" class="sign__btn"><span>Reset Password.</span></button>

                            }
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
